
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
<IfModule mod_rewrite.c>
RewriteRule ^discover/?$ http://www.eureka.edu/discover/discover-eureka/ [R=301,L]
RewriteRule ^academics/?$ http://www.eureka.edu/academics/eureka-academics/ [R=301,L]
RewriteRule ^student-life/?$ http://www.eureka.edu/student-life/eureka-student-life/ [R=301,L]
RewriteRule ^athletics/?$ http://www.eureka.edu/athletics/eureka-athletics/ [R=301,L]
RewriteRule ^alumni/?$ http://www.eureka.edu/alumni/eureka-alumni/ [R=301,L]
RewriteRule ^visitors/?$ http://www.eureka.edu/visitors/eureka-visitors/ [R=301,L]
RewriteRule ^parents/?$ http://www.eureka.edu/parents/eureka-parents/ [R=301,L]
RewriteRule ^faculty/?$ http://www.eureka.edu/faculty/eureka-faculty/ [R=301,L]
RewriteRule ^staff/?$ http://www.eureka.edu/staff/eureka-staff/ [R=301,L]
RewriteRule ^students/?$ http://www.eureka.edu/students/eureka-students/ [R=301,L]
RewriteRule ^on-campus/?$ http://www.eureka.edu/on-campus/eureka-campus/ [R=301,L]
RewriteRule ^reagan/?$ http://www.eureka.edu/reagan/reagan/ [R=301,L]
RewriteRule ^arts/?$ http://www.eureka.edu/arts/arts/ [R=301,L]
RewriteRule ^library/?$ http://www.eureka.edu/library/melick-library/ [R=301,L]
RewriteRule ^career-services/?$ http://www.eureka.edu/career-services/careerservices/ [R=301,L]
RewriteRule ^giving/?$ http://www.eureka.edu/giving/give-now/ [R=301,L]
RewriteRule ^admissions/?$ http://www.eureka.edu/admissions/eureka-admissions/ [R=301,L]

</IFModule>