//**ENTER CUSTOM CONTENT STYLES IN THIS CSS FILE **//


	h4 {
	  margin: 1.33em 0;
	  color: #990033;
	  font: bold 1.2em/1.5em italic;}
	  
	.one_third_aside h5 {
	  font: 1.33em/1.5em;
	  margin: 1.67em 0;
	  color: #990033;}
	
	.one_third {
	    width: 32% !important;
	    margin-right: 2% !important;
	    text-align: right;
	    padding-right: 1em;}
	
	.one_third_aside {margin-top: 1.5em;}
	
	.one_third_aside img {margin-top: 0.5em !important;}
	
	.two_third.last_column {
	    width: 66% !important;
	    margin-right: 0px }
	
	.two_third.last_column p {
		line-height: 2em;
		font-size:1em;}
	
	.one_fourth {
	    width: 23% !important;
	    margin-right: 2% !important;
	    text-align: right;
	    padding-right: 1em;}
	
	.three_fourth.last_column {
	    width: 75% !important;
	    margin-right: 0px !important;}
	
	.three_fourth.last_column p {
		line-height: 2em;
		font-size:1em;}
		
	.dateline {width:75%; float:right; color:#a9a9a9; font-weight: 600;	}		
	
	.first-line {margin-top: 1em !important;}
	
	.first-paragraph {margin-top: 1.25em !important;}
	
	.first-image {margin-top: 1.5em !important;}
		
	.one_third.last_column {
		width: 28% !important;
    margin-left: 2% !important;
    text-align: right;
    float: right;
    margin-top: 1em;}
		
	.two_third {
	    width: 64% !important;
	    padding-right: 1em;
	    margin-left: 0px;
	    float: left;}

	#main ul a {text-decoration: none; border-bottom: 1px dotted #990033;	}
		
	.small-line-height {line-height: 1.5em;}
	
	.assistance {
		 width: 100%;
		 background-color: #D3D3D3; 
		 padding:0.5em 2em;}
		 
	.aside-pullquote {font-size: 1.5em; line-height: 2em;margin-bottom: 0;}
	
	hr, 
	.hr-style {
	    border: 0;
	    height: 0;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
	
		.top a {
			float: right;
			color:#lime !important;
			text-decoration:none;
			text-align: right;
			font-size: x-small;
			font-weight: 300;
			padding-bottom: 0.5em;
			border-bottom: none !important;}
	
		.top a:hover{
			color: #ADADAD;
			text-decoration:none;}
		
		.social-sidebar {
			background-color: #FFFFFF; 
			padding:1.5em; 
			text-align:left;
			margin-top: 0.75em;
			width: 100% !important;
			max-width: 100%;
		}
		
		.social-sidebar p {
			font-size: 0.8em;
			text-align: left;
		}
		
		.social-sidebar h4 {
			font-size: 0.8em !important;
			margin-bottom: 0.5em !important;
		}
		
		.cta {
			margin: 1em 0;
			padding: 0;
			width: 100%;
			max-width: 100%;
			text-align: right;
		}
		
		.one-third-student {
			width: 32% !important;
			margin-left: 1% !important;
			float: right;
		}

		.two-third-student {
			width: 64% !important;
			margin-right: 1% !important;
			padding: 0;
			float: left;
			font-size: 0.9em;
			line-height: 200%;	
		}
		
		/* Responsive iFrame for Google Calendar */
		 
		.responsive-iframe-container {
		    position: relative;
		    padding-bottom: 75%; /* 56.25% is original */
		    padding-top: 30px;
		    height: 0;
		    overflow: hidden;
		}
		 
		.responsive-iframe-container iframe,   
		.vresponsive-iframe-container object,  
		.vresponsive-iframe-container embed {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100% !important;
		    height: 100% !important;
		}
		/* END Responsive iFrame */

	img#wpstats {display: none;}

	.underline {text-decoration: none !important; border-bottom: 1px dotted !important;}
	
	ul.underline li a {text-decoration: none !important; border-bottom: 1px dotted !important;}

	.no-underline {text-decoration: none !important; border-bottom: none !important;}
	.no-underline li {padding: 0em;}
	.no-underline a {text-decoration: none !important; border-bottom: none !important;}
	.no-underline a:hover {color: #696969;}

	.hot-links-top {font-size: 0.8em !important;}
	
	.extra-space {padding-bottom: 1em; padding-top: 1em;}
	.extra-space figure {padding: 1em 0;}
	
	.current {font-weight: 700; text-decoration: none;}
	
/* Portal pages styling */
	.two_third {line-height: 175%;}
	
	/*Sidebar styling */
		
	.dcjq-accordion {
/*		border: 0px !important;
		width: 85% !important;*/
		font-size: 0.9rem;}
	
	.dcjq-accordion ul a{
	border-bottom: 1px dotted #990033 !important;
	font-size: .8em !important;
	}
/*	.dcjq-accordion ul a:hover {
	background-color: #c4a006 !important;
	text-decoration: none !important;
	color: #fff !important;
	/*border-bottom: 1px dotted #990033 !important;*!/	}
	.dcjq-accordion ul.sub-menu a:hover{
	text-decoration: none !important;
	color: #c4a006 !important;
	/*border-bottom: 1px dotted #990033 !important;*!/	}*/

/*=========================================================================

								BUTTON & ALERTS STYLING

==========================================================================*/
		 
.btn {
  display: inline-block;
  padding: 8px 15px;
  margin-bottom: 1em;
  background-color: #990033;
  color: #FFFFFF !important;
  font-size: 14px;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn a {text-decoration: none !important; border-bottom: none !important;}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #cc9900 !important;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.alert-event-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #a9a9a9;
  background: #C0C0C0;
}

.panel {
	border-style: solid !important; 
	border-width: 1px;
	border-color: #d8d8d8; 
	border-radius:3px; 
	margin-bottom: 1rem;
	padding: 1rem;
	paddding-bottom: 0 !important;
	background: #f2f2f2;
	}
	
.alert {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-radius: 4px;
}
.alert-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #e8dc59;
  background: #ebe16f;
}
.alert-info {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  color: #cc9900;
  background-color: #FFFFBF;
  border-color: #cc9900;
  max-width: 100% !important;
}
.alert-error {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #f8cdce;
  background: #fbe3e4;
}
.alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #cdcdcd;
  background: #dfffdf;
}

.alert-event-help {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid;
  border-color: #a9a9a9;
  background: #C0C0C0;
}

.display-large {display: inline-block !important; }
.display-large.stacked-list.btn { max-width: 75%; display: block !important; margin-bottom: 0.5em; padding: 1em; float: right;	}
.display-small {display: none !important; }

/*=====================================================================

															FOOTER STYLING

=======================================================================*/		

.footer-address a{text-decoration:none !important;	border-bottom: 1px dotted #c4a006 !important; color: #A6A6A6 !important; }

.learn-serve-lead-content {color: #A6A6A6; line-height: 150% !important;}

/*=========================================================================

															END FOOTER STYLING

===========================================================================*/		
/*==========================================================================

															LIST STYLING / LISTS

============================================================================*/
.stacked-list > li {display: block;	margin-right: 0em;	padding-right: 0em;}
.stacked-list a {text-decoration:none;}

.inline-list li {display:inline;}
.inline-list li a {text-decoration: none !important; border-bottom: none !important; list-style: none;}

.no-bullet ul {list-style: none; text-decoration: none; }
.no-bullet li {list-style: none; text-decoration: none !important;}
.no-bullet a {text-decoration: none; border-bottom: 1px dotted #990033; line-height: 1.75em; }

.bulleted-list {list-style-type: disc; list-style-position: outside !important; padding: 0;}
.bulleted-list li {margin-bottom: 0.5em;}
	
.body-list {padding-left: 2.5em !important; text-indent: -1em; line-height: 2em; margin-bottom: 0.5em; text-decoration: none; list-style-position: inside;}
.body-list li {margin-bottom: 0.5em;	}

/* END LIST STYLING */

/*==========================================================================

													IMAGES AND MEDIA STYLING

===========================================================================*/		 

.gallery {
	overflow: hidden;
  	margin: 0 auto;}
  	
.gallery li {
	float: left;
	width: 50%;
	padding: 0 2.5%;
	padding-bottom: 1em;
	list-style-type: none;}
	
.gallery img {
	display: inline-block;
  	max-width: 100%;
  	max-height: 100%;
	margin-bottom: 1em;
}

.gallery-third li {
	float: left;
	width: 33%;
	padding: 0 2.5%;
	list-style-type: none;}	
	
.gallery-third img {
	display: inline-block;
  	max-width: 100%;
  	max-height: 100%;
	margin-bottom: -0.5em;
}

.gallery-third a{
	margin: 0;
		text-decoration: none;
		border-bottom: none;
		padding: 1em;
}	
  	
.gallery li:nth-child(odd) {
	clear: left;
	padding-right: 2.5%;}
	
.gallery-third li:nth-child(3n+1) {
	clear: left;
	padding-right: 2.5%;}	

figcaption {
	font-size: smaller;
	line-height: 1.5em;
	text-align: left;
	color: #A9A9A9;
  	padding: 0 0.5em;}
  	
.gallery-third figcaption {
	font-size: 0.75em;
	padding: 0 0 1.5em 0;
	max-width: 95%;
}

figure{
	max-width: 100%;
	margin: 0;}

.gallery-fourth li {
	float: left;
	width: 25%;
	padding: 0 2.5%;
	list-style-type: none;}	
	
.gallery-fourth img {
	display: inline-block;
  	max-width: 100%;
  	max-height: 100%;
	margin-bottom: -0.5em;
}

.gallery-fourth a{
	margin: 0;
}	

.gallery-fourth figcaption {
	font-size: 0.75em;
	padding: 0 0 1.5em 0;
	max-width: 95%;
}

.gallery-fourth li:nth-child(4n+1) {
	clear: left;
	padding-right: 2.5%;}	
	
.gallery-fifth figcaption {
	font-size: 0.75em;
	padding: 0 0 1.5em 0;
	max-width: 95%;
}

.gallery-fifth li {
	float: left;
	width: 20%;
	padding: 0 2.5%;
	list-style-type: none;}	
	
.gallery-fifth img {
	display: inline-block;
  	max-width: 100%;
  	max-height: 100%;
	margin-bottom: -0.5em;
}

.gallery-fifth a{
	margin: 0;
}	
			
/*================END GALLERY===============================*/

/* ========================= BIO & PIC LAYOUT =========================== */

	.caption {
	  text-align:center;}
	
	.thumbnail {
	  float:left;
	  padding-right:1em;
	  width: 32%;}
	
	.thumbnail li {
		list-style: none;}
	
	.bio-text {
	  font-family: sans-serif;
	  line-height: 1.5em;}
	
	.row {
	  margin: 0;
	  padding: 0;
	  list-style: none;
	  width: 100%;
	  position: relative;}
	
	.topic {
	  float: right;
	  width: 66%;
	  list-style:none;
	  padding-top: 0.25em;}
	
	.topic > h4 {
	  padding-bottom: 0.1em;
	  line-height:0.25em;
	  }
	
	.topic p {
	  font-size: 0.85em !important;
	  line-height: 1.7em;
	}
	
	.clearfix {
	  zoom: 1;}
	                  
	.clearfix:after {
	  content: " "; /* Older browser do not support empty content */
	  visibility: hidden;
	  display: block;
	  height: 0;
	  clear: both; }
  
/* ====================== END BIO & PIC LAYOUT ========================== */
  


//**================END IMAGES AND MEDIA STYLING=====================**//



//**=======================ZEBRA & TABLE LAYOUT==========================**//

#hor-zebra {
	font-family: "Open Sans", Sans-Serif;
	font-size: 1em;
	width: 95%;
	text-align: left;
	border-collapse: collapse;
	border: none !important;
	background: white !important;}
	
#hor-zebra th {
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 8px;
	color: #990033;
	text-align: left;}
	
#hor-zebra td {padding: 10px; /*	color: #565656;*/	vertical-align: top;}
  	
#hor-zebra .odd {background: #DCDCDC; }
	
#hor-zebra tbody tr:hover td {color: #636363; /*	background: #DCDCDC;*/}

.data-table {border: none; margin:1em 0;}

.data-table > tbody > tr > td {
	border-bottom: 1px solid #DCDCDC;
	vertical-align: top;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-right: 0.5em;
}
	
.data-table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #dddddd;
	text-align: left;}

.data-table > tfoot {
  	border-bottom: 2px solid #dddddd;
	background: #D3D3D3;}
	
.details-column{width: 60%;}

.resident{
	/*  background-color:#DAA520;*/
	color: #990033;
/*	border-right: #DCDCDC 2px solid;*/
	width:30%;
	padding-left: 1em;}

.commuter {
	color: #990033;
	padding-left:0.5em;
	/*  background-color:#cc9900;*/
	width: 30%;
	padding-left: 1em;}

.fees {
	padding-left:1em;}

col.commuter {
	display: table-column;}

.no-border {
	border: none !important;
}

.checkmark {
	text-align: center;
}

/*==============END ZEBRA TABLE LAYOUT======================*/


/*=========================================================================

								FORM & CAREER SERVICES FORM STYLING

===========================================================================*/	

div.panelRow {clear: both; background-color:#A6A6A6 !important; }
div.panelRow span.panelLabel {float: left;width: 115px; text-align: right;font-size: 10pt;font-family: 'Open Sans', Geneva, helvetica, sans-serif; padding-right: 10px; }
div.panelRow span.panelForm {float: left;width: 150px;text-align: right; padding-bottom: 15px; }
div.panelRow input.text {font-family: 'Open Sans', Geneva, helvetica, sans-serif; }

.gform_wrapper ul li.gfield {padding-bottom:20px;}

body .gform_wrapper {}

body .gform_wrapper .gform_body {font-size: 75%;}

body .gform_wrapper .gform_body .gform_fields .gfield textarea {
    font-size:1.2em;
    font-family: 'Open Sans', Geneva, helvetica, sans-serif;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {background-color: #a6a6a6;}

body #gform_wrapper .gform_body .gform_fields .gfield input[type=text] {
	font-family: 'Open Sans', Geneva, helvetica, sans-serif;
 }

.gform_footer input[type="submit"] {
	background: #990033 !important;
	cursor: pointer;
	font-family: 'Open Sans', Geneva, helvetica, sans-serif;
	border: 1px solid #990033;
}

/*==============END FORM STYLING ======================*/

/***======================================================================

									ACCORDION STYLING

=======================================================================***/
		.accordion {
		    margin-bottom: 20px;
		}
		.accordion-title {
		    position: relative;
		    padding: 1em 1.5em;
		    border-top: 1px solid #ccc;
		    margin: 0;
		    padding: 20px 0;
		    cursor: pointer;
		}
		
		.accordion-title:hover {background-color: #ccc;}
		.accordion-title:first-child {border: none;}
		.accordion-title.open {cursor: default;}
		.accordion-content {padding-bottom: 20px; border: 1px solid #ccc !important;	}
		.accordion-title:after {
			position: absolute;
			font-family: FontAwesome;
			top: 5px;
			right: 1em;
			content: "\f078";
			color: #990033;
		}
		.accordion-title.open:after {
			font-family: FontAwesome;
			content: "\f077";
		}				
/*==============END ACCORDION STYLING ======================*/

/***==========================================================================

									MOBILE STYLING

==========================================================================***/

@media only screen and (max-width: 480px) {
   /* Smartphone view: 1 tile */
   .photoBox {
      width: 100%;
      padding-bottom: 100%;
      padding-top: 1em;}
   
	.one_third {
	    width: 100% !important;
	    text-align: left;
	    max-width: 100%;}
	   
   .two_third.last_column {
	   	width: 100% !important;
	   	max-width: 100%;}
   
   .one_third_aside {
/*		margin: 1.5em;*/
		padding: 1em;
	   	width: 100%;
	    max-width: 100%;}
   
   .one_third_aside img {
	   	display: block;
	   	margin: 0 auto;}
	   	
	.two_third {
	    width: 100% !important;
	    text-align: left;
	    max-width: 100%;}
	      	   
   .one_third_aside {
/*		margin: 1.5em;*/
		background-color: WhiteSmoke;
		padding: 1em;
	   	width: 100%;
	    max-width: 100%;}
   	   	
	  .one_third.last_column {
	   	 width: 100% !important;
	   	 max-width: 100%;}
   		
   	.three_fourth.last_column {
   	    width: 100% !important;
   	    max-width: 100%;	 	}
   	    
   	.one_fourth {
 		 	width: 100% !important;
 		  max-width: 100%;}
   	
   	.one_fourth .one_third_aside {
   				background-color: #FFF !important;}
   	   	  				
   	.one_fourth img {
   	  	display: block;
   	  	margin: 0 auto;
   	  	margin-bottom: 0;
   	  	width: 100% !important;
   	  	max-width: 100% !important;}
   	  	
   	.one_fourth .first-paragraph {
   		font-size: 1.5em;
   		font-style:bold;   	}
   	
   	/* news release copy size */
   		.three_fourth.last_column p{
   		    font-size: 80%;
   		}
	
	.give-form {
		max-width: 100%;
		width: 300px;}

	.gallery li {
		float: left;
		width: 600px;
		max-width: 100%;
		padding: 0.5em;}
		
	.gallery li {
	   	width: 380px;
        max-width:100%;
        margin-top: 1.5em;}
        
    .gallery-third li {
      display: inline;
      max-width: 100%;
      width:250px;
      padding-bottom: 1em; }
    
    .gallery-third figcaption {
      margin-left: -6px;
      padding: 1em 0.5em;} 
       
    .gallery-fourth li {
      display: inline;
      max-width: 45%;
      width:200px;
      padding-bottom: 1em;
      margin: 0 auto; }
    
    .gallery-fourth figcaption {
      margin-left: -6px;
      padding: 0.5em;
      margin-bottom: 0.25em;
	}  
      
/*    .gallery-fourth li:nth-child(odd){
    	clear: left;
    } 
        
	.g li:nth-child(3n+1) {
		clear: left;}
		
	.g li:nth-child(odd) {
		clear: none;}*/
		
    figcaption {
    	margin-bottom: 0.5em;} 
    	
  .extra-space figure {padding: em 0; margin: 0 auto;}
    	  
    .assistance {
    	display: none;
    	padding: 0.5em;
    	background-color: lime !important;}
    	
    .thumbnail, .topic {
      float:none;
      width: auto;
      margin: 0 auto;}
    
    .topic > h4 {
      font-size: 1.25em;
      padding-bottom: 0.5em;
      line-height:1em;
      }	
     
    .one-third-student,
    .two-third-student {
     	width: 100% !important;
      max-width: 100%;}
      
    .display-small {display: block !important; }
    .display-large {display: none !important; }
    .display-small .btn { max-width: 60%; display: block !important; margin: 0 auto; padding: 1em; margin-bottom: 0.5em; float: none;	}
    
    /* Force table to not be like tables anymore */
    .data-table table, thead, tbody, th, td, tr { 
    	display: block; 
    }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    .data-table thead tr { 
    	position: absolute;
    	top: -9999px;
    	left: -9999px;
    }
    
		.data-table tr { border: 1px solid #ccc; }
    
    .data-table td { 
    	/* Behave  like a "row" */
    	border: none;
    	border-bottom: 1px solid #eee; 
    	position: relative;
    	padding-left: 50%; 
    }
    
    .data-table td:before { 
    	/* Now like a table header */
    	position: absolute;
    	/* Top/left values mimic padding */
    	top: 13px;
    	left: 10px;
    	width: 45%; 
    	padding-right: 10px; 
    	white-space: nowrap;
    }
    
  /*
    	Label the data
    	*!/
    	td:nth-of-type(1):before { content: "Dates"; }
    	td:nth-of-type(2):before { content: "New Students"; }
    	td:nth-of-type(3):before { content: "Returning Students"; }
    	td:nth-of-type(4):before { content: "Details"; }
   */
    
}

@media only screen and (min-width: 320px) and (max-device-width : 1024px) {
	.footer-address a{color: #c4a006 !important;}
	.footer-address a:visited {color: #c4a006;}	
	a[href^="tel:"]:before {content: "\260E"; padding-right: 3px;}

/* news release copy size */
	.three_fourth.last_column p{
	    font-size: 90%;
	}
}

//**====================END MOBILE STYLING============================**//

//**=======================LARGE DISPLAY STYLING===============**//
@media (min-width: 1300px){
	.home-header-hero {width: 1000px !important; max-width: 90% !important; background-color: #2e2e2e !important;}
}
//**=======================END LARGE DISPLAY STYLING===============**//
