//**ENTER CUSTOM CONTENT STYLES IN THIS CSS FILE **//


	h4 {
	  margin: 1.33em 0;
	  color: #990033;
	  font: bold 1.2em/1.5em italic;}
	  
	.one_third_aside h5 {
	  font: 1.33em/1.5em;
	  margin: 1.67em 0;
	  color: #990033;}
	
	body .gform_wrapper .gform_body .gform_fields .gfield textarea {
	    font-size:1.2em;}
	
	.one_third {
	    width: 32% !important;
	    margin-right: 2% !important;
	    text-align: right;
	    padding-right: 1em;}
	
	.one_third_aside {
		margin-top: 1.5em;
	}
	
	.two_third.last_column {
	    width: 66% !important;
	    margin-right: 0px }
	
	.two_third.last_column p {
		line-height: 2em;
		font-size:1em;}
	
	.one_fourth {
	    width: 23% !important;
	    margin-right: 2% !important;
	    text-align: right;
	    padding-right: 1em;}
	
	.three_fourth.last_column {
	    width: 75% !important;
	    margin-right: 0px !important;}
	
	.three_fourth.last_column p {
		line-height: 2em;
		font-size:1em;}
	
	.first-line {
		margin-top: 0.5em;}
	
	.first-paragraph {
		margin-top: 0.75em;}
	
	.first-image {
		margin-top: 1.5em;}
	
	/*.first-image {
		margin-top: 1.5em;
	}*/
		
	.body-list li {
		 padding-left: 1.5em;
		 text-indent: -1em;
		 line-height: 2em;
		 margin-bottom: 0.5em;
		 text-decoration: none;
	}
	
	.small-line-height {
		line-height: 1.5em;}
	
	.assistance {
		 width: 100%;
		 background-color: #D3D3D3; 
		 padding:0.5em 2em;}
		 
	.aside-pullquote{
		font-size: 1.5em; 
		line-height: 2em;
		margin-bottom: 0;}
	
	.hr-style {
	    border: 0;
	    height: 0;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
	
	.top a {
		float: right;
		color:#ADADAD !important;
		text-decoration:none;
		text-align: right;
		font-size: x-small;
		font-weight: 300;
		padding-bottom: 0.5em;}
	
	.top a:hover{
		color: #ADADAD;
		text-decoration:none;}
	
	.no-bullet li {
		list-style: none;
		text-decoration: none; }
	
	.no-bullet a {
		text-decoration: underline;
		color: #565656;
		line-height: 1.75em; }


img#wpstats {
display: none;
}

/*================================================================================

								BUTTON STYLING

==================================================================================*/
		 
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  background-color: #990033;
  color: #FFFFFF !important;
  font-size: 14px;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #cc9900 !important;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/*.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);*/
}

/*================================================================================

								IMAGES AND MEDIA STYLING

==================================================================================*/		 

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;}
    
/* See more at: http://avexdesigns.com/responsive-youtube-embed/#sthash.qzOg1Oa9.dpuf */

.gallery {
	overflow: hidden;
  	margin: 0 auto;}
  	
.gallery li {
	float: left;
	width: 50%;
	padding: 0 2.5%;
	list-style-type: none;}
	
.gallery img {
	display: block;
  	width: 380px;
  	max-width: 100%;
  	max-height: 100%;
	margin-bottom: -0.5em;
}

.gallery-third li {
	float: left;
	width: 33%;
	padding: 0 2.5%;
	list-style-type: none;}	
	
.gallery-third img {
	display: inline-block;
  	max-width: 100%;
  	max-height: 100%;
	margin-bottom: -0.5em;
}	
	
/*.gallery figcaption {
	margin-top: -5em;
}*/
  	
.gallery li:nth-child(odd) {
	clear: left;
	padding-right: 2.5%;}

figcaption {
	font-size: smaller;
	line-height: 1.5em;
	text-align: left;
	color: #A9A9A9;
  	padding: 0 0.5em;}

figure{
	max-width: 100%;
	margin: 0;}

/*.gallery li:nth-child(even) {
	padding-left: 1.5em;
}

.clear-both{
	clear: both;
}

.floatright {
	float: right;
	margin-bottom: 1em;
	clear: right;
	margin-right: 3em;
}*/

/*===================================GALLERY=================================*/

	.g-outer-wrap{
		margin: 0 auto;
		width: 100%;}
	
	.g-inner-wrap {
		width: 100%;
		margin: 0 auto;
		max-width: 1600px;}
	
	.g figure{
		display: block;
		position: relative;
		overflow: hidden;}
	
	.cap-bot:hover figcaption {
		opacity: 1;
		padding: 5% 2.5%;
		bottom: 2.5em;}

	.cap-bot figcaption { 
		left: 0; 
		bottom: -30%;
		padding: 0 2.5%;
		background: #f5f5f5;
		vertical-align: middle;
		text-align: left;
		width: 100%;
		position: absolute;
		background: rgba(20,20,20,0.75);
		color: white;
		font-size: 0.75em;
		letter-spacing: 0.05em;
		opacity:0;
		-webkit-transition: all 0.6s ease;
		-moz-transition:    all 0.6s ease;
		-o-transition:      all 0.6s ease;}

	.cap-bot:before { bottom: 35px; left: 10px; }
	
	.cap-bot:before { 
		content: "i"; 
		position: absolute; 
		background: rgba(255,255,255,0.75); 
		color: black;
		width: 24px;
		height: 24px;
		-webkit-border-radius: 12px;
		-moz-border-radius:    12px;
		border-radius:         12px;
		text-align: center;
		font-size: 14px;
		line-height: 24px;
		/* Only Fx 4 supporting transitions on psuedo elements so far... */
		-webkit-transition: all 0.6s ease;
		-moz-transition: all 0.6s ease;
		-o-transition: all 0.6s ease;
		opacity: 0.75;}
			
	figure:hover:before {
		opacity: 0;	}
	
	.g {
		padding: 0.25em;
		overflow: hidden;}
		
	.g li {
/*		float: left;*/
		width: 100%;
    	padding: 0 2.5%; }
    	
	.g img {
/*		display: block;*/
		max-width: 100%;}
	
/*	.cbp-rfgrid {
		margin: 0 0 0 0;
		padding: 0 2.5%;
		list-style: none;
		position: relative;
		width: 95%;
		vertical-align: middle;	}
	
	.cbp-rfgrid li {
	    position: relative;
/*	    float: left;*!/
	    overflow: hidden;
	    width: 100%; /* Fallback *!/
	    width: -webkit-calc(100% / 1);
	    width: calc(100% / 1);
	    padding-bottom: 1em;}
	
	.cbp-rfgrid li a,
	.cbp-rfgrid li a img {
		display: block;
		width: 100%;
		cursor: pointer;}
	
	.cbp-rfgrid li a img {
		max-width: 100%;}
	
	/* Flexbox is used for centering the heading *!/
	.cbp-rfgrid li a div {
		position: absolute;
		padding: 2.5%;
		left: 2em;
		top: 2em;
		right: 2em;
		bottom: 2.5em;
		background: rgba(192, 192, 192, .4);
/*		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
	    align-items: center;*!/
	    opacity: 0;	}
	
	.cbp-rfgrid li a:hover div {
		opacity: 1;
	}
	
	.cbp-rfgrid li a div h3 {
		width: 95%;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.4em;
		letter-spacing: 2px;
		padding: 0 10px;
		margin-top: 1em;
	    text-align: center;	}
	
	.cbp-rfgrid li a div p{
		color: #fff;
		font-size: 0.9em;
		text-align: left;
		padding: 2.5%;
		line-height: 1.75em;}*/
		
/*=============2-UP==============================*/

@media only screen and (min-width: 31em) {
	.g li{
		width: 45%;
		padding: 0 2.5%;
		float: left;}
	
	.g li:nth-of-type(odd){
		clear: left;}
}


/*==================3-UP===========================*/

@media screen and (min-width: 40em) {
		.g li {
	    	width: 33.33333333333%;
    		padding: 0 2.5%; 
	  	}
	  	.g li:nth-child(2n+1) {
	  		clear: left;
	  	}
	  	.g li:nth-child(2n+1) {
			clear: none;
		}
	}


/*@media screen and (min-width: 1190px) {
	.cbp-rfgrid li {
		width: 20%; /* Fallback *!/
		width: -webkit-calc(100% / 5);
		width: calc(100% / 5);
		float: left;
		padding: 2.5%;
	}
	
	.cbp-rfgrid li a div {
		bottom: 2em;
	}
	
	.cbp-rfgrid li a:hover div {
		opacity: 1;
		margin: 1em;
	}
	.cbp-rfgrid li a div h3 {
		width: 95%;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.25em;
		letter-spacing: 2px;
		padding: 0 10px;
		margin-top: 1em;
	    text-align: center;
	}
	
	.cbp-rfgrid li a div p{
		color: #fff;
		font-size: 0.9em;
		text-align: left;
		padding: 2.5%;
		line-height: 1.5em;	
	}
}*/

/*================END GALLERY===============================*/


//**================================END IMAGES AND MEDIA STYLING=============================**//



//**=========================ZEBRA & TABLE LAYOUT==========================**//

#hor-zebra {
	font-family: "Open Sans", Sans-Serif;
	font-size: 1em;
	width: 95%;
	text-align: left;
	border-collapse: collapse;
	border: none !important;
	background: white !important;}
	
#hor-zebra th {
	font-size: 1.2em;
	font-weight: bold;
	padding: 10px 8px;
	color: #990033;}
	
#hor-zebra td {
	padding: 8px;
/*	color: #565656;*/
  	vertical-align: top;}
  	
#hor-zebra .odd {
	background: #DCDCDC; }
	
#hor-zebra tbody tr:hover td {
	color: #636363;
/*	background: #DCDCDC;*/}

.data-table {
	border: none;
}

.data-table > tbody > tr > td {
	border-bottom: 1px solid #DCDCDC;}
	
.data-table > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #dddddd;}

.data-table > tfoot {
  	border-bottom: 2px solid #dddddd;
	background: #D3D3D3;}

.resident{
	/*  background-color:#DAA520;*/
	color: #990033;
/*	border-right: #DCDCDC 2px solid;*/
	width:30%;
	padding-left: 1em;}

.commuter {
	color: #990033;
	padding-left:0.5em;
	/*  background-color:#cc9900;*/
	width: 30%;
	padding-left: 1em;}

.fees {
	padding-left:1em;}

col.commuter {
	display: table-column;}

.no-border {
	border: none !important;
}


/*==============END ZEBRA TABLE LAYOUT======================*/




/***==========================================================================

									MOBILE STYLING

============================================================================***/

@media only screen and (max-width: 480px) {
   /* Smartphone view: 1 tile */
   .photoBox {
      width: 100%;
      padding-bottom: 100%;
      padding-top: 1em;}
   
	.one_third {
	    width: 100% !important;
	    text-align: left;
	    max-width: 100%;}
	   
   .two_third.last_column {
	   	width: 100% !important;
	   	max-width: 100%;}
   
   .one_third_aside {
/*		margin: 1.5em;*/
		background-color: WhiteSmoke;
		padding: 1em;
	   	width: 100%;
	    max-width: 100%;}
   
   .one_third_aside img {
	   	display: block;
	   	margin: 0 auto;}
	
	.give-form {
		max-width: 100%;
		width: 300px;}

	.gallery li {
		float: left;
		width: 600px;
		max-width: 100%;
		padding: 0.5em;}
		
	.gallery li {
	   	width: 380px;
        max-width:100%;
        margin-top: 1.5em;}
        
	.g li:nth-child(3n+1) {
		clear: left;}
		
	.g li:nth-child(odd) {
		clear: none;}
		
    figcaption {
    	margin-bottom: 0.5em;}   
    
    .assistance {
    	display: none;
    	padding: 0.5em;
    	background-color: lime !important;}
}

//**==================================END MOBILE STYLING===================================**//
