@charset "UTF-8";
/* CSS Document */

<style type="text/css">
.downloadbtn_style {
	-moz-box-shadow: 0px 1px 0px 0px #330011;
	-webkit-box-shadow: 0px 1px 0px 0px #330011;
	box-shadow: 0px 1px 0px 0px #330011;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #990033), color-stop(1, #80002b) );
	background:-moz-linear-gradient( center top, #990033 5%, #80002b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990033', endColorstr='#80002b');
	background-color:#990033;
	-webkit-border-top-left-radius:13px;
	-moz-border-radius-topleft:13px;
	border-top-left-radius:13px;
	-webkit-border-top-right-radius:13px;
	-moz-border-radius-topright:13px;
	border-top-right-radius:13px;
	-webkit-border-bottom-right-radius:13px;
	-moz-border-radius-bottomright:13px;
	border-bottom-right-radius:13px;
	-webkit-border-bottom-left-radius:13px;
	-moz-border-radius-bottomleft:13px;
	border-bottom-left-radius:13px;
	text-indent:0px;
	border:1px solid #730026;
	display:inline-block;
	color:#cc9900;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	line-height:35px;
	width:115px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
.downloadbtn_style:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80002b), color-stop(1, #990033) );
	background:-moz-linear-gradient( center top, #80002b 5%, #990033 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80002b', endColorstr='#990033');
	background-color:#80002b;
}.downloadbtn_style:active {
	position:relative;
	top:1px;
}
</style>