<html>

<head>

<style type="text/css">
	.profile-pic{
		float: left;
		padding-right: 1em;
	}
	#content_area{
		padding: 0;
	}
	
	#main_profile{
		background: LightGray;
		padding: 1em;
		line-height: 1.5em;
	}
	
	hr.hr-style {
	    border: 0;
	    height: 0;
	    border-top: 1px solid rgba(0, 0, 0, 0.1);
	    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
</style>
</head>

<body>
<aside style="float: left;">
[one_fourth]
<section class="one_third_aside">
<img src="http://placehold.it/200x300&text=Photo Coming Soon"> 
</section>
[/one_fourth]

[three_fourth_last]
	<article>
	<p>
	<h3 class="first-line">TITLE</h3>
	<b>Office: </b><br />
	<b>Phone: </b><br />
	<b>Email: </b><a href="mailto:@eureka.edu" title="">@eureka.edu</a><br />
	<b>Website: </b> <a href="" target="_blank">http://ww1.eureka.edu/emp/</a>
	</p>
	<hr class="hr-style" />
		
	<h3>Education</h3>
	<p>BA, Degree, University, year<br />
	</p>
	
	<hr class="hr-style" />
	
	<h3>Research Interests</h3>
	<p>&nbsp;</p>
	<h3>Teaching Interests</h3>
	<p>&nbsp;</p>
	<h3>Professional Activity</h3>
	<p>&nbsp;</p>
	<h3>About</h3>
	<p>&nbsp;</p>
	
</article>

[/three_fourth_last]

