<link rel="stylesheet" href="c/table-style.css" type="" />


<table id="hor-zebra">
	<thead>
		<tr>
			<th scope="col">&nbsp;</th>
			<th scope="col"><b>xxx</b></th>
			<th scope="col"><b>xxxx</b></th>
		</tr>
	</thead>
	<tr class="odd">
		<td width=“20%”><b>xxxxxxx</b></td>
		<td width=“40%”>xxxxxxx<br />
		<i>xxxxxxxxxxxx</i></td>
		<td width=“40%” align="left" >-----</td>
	</tr>
	<tr>
		<td><b>xxxxxxx</b></td>
		<td colspan="2">
		xxxxxx<br />
		xxxxxxx<br />
		xxxxxxxx</td>
	</tr>
	<tr class="odd">
		<td><b>xxxxxxxxx</b></td>
		<td>xxxxxx</td>
		<td>xxxxx</td>
	</tr>
	<tr>
		<td><b>xxxxxxxx</b></td>
		<td colspan="2">xxxxxxxxxx<br />
		xxxxxxxxxxx<br />
		xxxxxxxxxxx</td>
	</tr>
</table>