/*

Hardboiled Web Design
http://hardboiledwebdesign.com
http://twitter.com/itshardboiled

SHELF.CSS

*/

/* BODY ------------------------------------------------------------------ */

html { 
padding-top : 5px;
background : rgb(0,0,0) url(../img/body.png) no-repeat 40px 0; }

body { 
position : relative;
padding : 260px 0 0 0;
font : 100%/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
color : rgb(255,255,255); 
text-shadow : 0 1px 1px rgb(0,0,0); }

@font-face {
font-family : 'AllerRegular';
src : url('../type/aller_rg-webfont.eot');
src : local('☺'), url('../type/aller_rg-webfont.woff') format('woff'), url('../type/aller_rg-webfont.ttf') format('truetype'), url('../type/aller_rg-webfont.svg#webfontooYDBZYS') format('svg');
font-weight : normal;
font-style : normal; }

@font-face {
font-family : 'AllerBold';
src : url('../type/aller_bd-webfont.eot');
src : local('☺'), url('../type/aller_bd-webfont.woff') format('woff'), url('../type/aller_bd-webfont.ttf') format('truetype'), url('../type/aller_bd-webfont.svg#webfont4YvdCymj') format('svg');
font-weight : normal;
font-style : normal; }

@font-face {
font-family : 'AdlerRegular';
src : url('../type/adler.eot');
src : local('Adler Regular'), local('Adler'), url('../type/adler.ttf') format('truetype'); }

.group:after { 
content : "\0020"; 
display : block; 
height : 0; 
clear : both; 
visibility : hidden; 
overflow : hidden; }


/* HEADINGS -------------------------------------------------------------- */

hgroup {
position : absolute; 
z-index : 1000;
top : 4em;
left : 50%;
margin : 0 0 0 -172px;
width : 345px;
height : 165px; 
background : transparent url(../img/hgroup.png) no-repeat 50% 50%;
text-indent: -9999px; }

hgroup a {
display : block; 
width : 345px;
height : 165px; }

h1, h2, h3 {
font-weight : normal; }

h1 { 
margin-bottom : .25em; 
text-rendering : optimizeLegibility; }

h2 {
margin-bottom : .75em; 
font-size : 1.12em; /* 18 / 16 = 1.125 */ 
line-height : 1.1; }

h3, h4 {
font-size : 1em; /* 16 / 16 = 1 */ 
margin-bottom : .75em; }

/* TYPOGRAPHY ----------------------------------------------------------- */

p {
margin-bottom : 1.5em;
font-size : .87em; /* 14 / 16 = 1 */ }

ul {
list-style-type : none;
margin-bottom : 1.5em;
font-size : .87em; /* 14 / 16 = 1 */ }

/* LINKS ------------------------------------------------------------------ */

a, a:visited {
outline : none;
color : rgb(255,255,255);
text-decoration : none; }
 
a:hover { 
color : rgb(255,255,255); 
text-decoration : underline; }
 
a:active, a:focus { 
position : relative; 
top : 1px; 
color : rgb(255,255,255); }

a.action {
padding : .5em 15px;
background-color : rgb(143,58,58); 
color : rgb(255,255,255);
font-size : .82em;  
text-shadow : 0 1px 1px rgb(0,0,0); }

a.action:hover {
background-color : rgb(119,48,48); 
text-decoration : none; }

a.action:active,
a.action:focus {
background-color : rgb(44,18,18); 
color : rgb(255,255,255); 
text-decoration : none; }

/* LAYOUT -------------------------------------------------------------- */

/* contentinfo */

footer[role="contentinfo"] {
position : relative;
width : 520px;
min-width : 520px;
max-width : 520px;
margin : 0 auto;
padding-bottom : 1.5em; 
text-align : center; }

footer[role="contentinfo"] h3 {
display : block;
overflow : hidden;
width : 225px;
height : 90px;
margin : 0 auto 1.5em;
background-color : transparent;
background : url(../img/contentinfo-h3.png) no-repeat 0 0;
text-indent : -9999px; }

footer[role="contentinfo"]:after { 
content : "\0020"; 
display : block; 
height : 0; 
clear : both; 
visibility : hidden; 
overflow : hidden; }

/* PAGE STYLES */

.hlisting {
position : relative; 
margin : 0 auto 3em;
width : 100%; }

.item {
overflow : hidden;
height : 20px;
margin : 0 auto;
background-color : rgb(94,111,128); }

.item:nth-of-type(odd) {
background-color : rgb(235,207,139); }

.item:nth-of-type(4n+3) {
background-color : rgb(113,112,85); }

.item:nth-of-type(5n+4) {
background-color : rgb(147,103,66); }

.item:nth-of-type(5n+5) {
background-color : rgb(186,66,58); }

.item h3 {
margin : 4px 0 0 100px;
font-size : .82em;
text-shadow : 1px 1px 2px rgb(0,0,0); 
text-transform : uppercase; }

.item h3 a {
display : block;
color : rgb(255,255,255); }

.item div {
z-index : 2;
position : absolute;
top : -1000px; 
opacity : 0; }

.item:hover div {
opacity : 1;
top : 100px;
left :  50%;
width : 200px;
margin : 0 0 0 -130px;
padding : 330px 20px 20px 20px; 
background-color : rgb(0,0,0);
background-repeat : no-repeat; 
background-position : 20px 20px; 
border : 10px solid rgb(100,100,100); }

.hlisting:target .item div {
opacity : 0; }

#f01:hover div {
background-image : url(../img/shelf-01.jpg); }

#f02:hover div {
background-image : url(../img/shelf-02.jpg); }

#f03:hover div {
background-image : url(../img/shelf-03.jpg); }

#f04:hover div {
background-image : url(../img/shelf-04.jpg); }

#f05:hover div {
background-image : url(../img/shelf-05.jpg); }

#f06:hover div {
background-image : url(../img/shelf-06.jpg); }

#f07:hover div {
background-image : url(../img/shelf-07.jpg); }

#f08:hover div {
background-image : url(../img/shelf-08.jpg); }

#f09:hover div {
background-image : url(../img/shelf-09.jpg); }

#f10:hover div {
background-image : url(../img/shelf-10.jpg); }

#f11:hover div {
background-image : url(../img/shelf-11.jpg); }

#f12:hover div {
background-image : url(../img/shelf-12.jpg); }

#f13:hover div {
background-image : url(../img/shelf-13.jpg); }

#f14:hover div {
background-image : url(../img/shelf-14.jpg); }

.shelf #f15:hover div {
background-image : url(../img/shelf-15.jpg); }

#f16:hover div {
background-image : url(../img/shelf-16.jpg); }

#f17:hover div {
background-image : url(../img/shelf-17.jpg); }

#f18:hover div {
background-image : url(../img/shelf-18.jpg); }

#f19:hover div {
background-image : url(../img/shelf-19.jpg); }

#f20:hover div {
background-image : url(../img/shelf-20.jpg); }

.item div.back ul {
list-style-type : none;
margin : 0; }

.item div.back .lister {
display : none; }


/* VENDOR SPECIFIC ------------------------------------------------------------------- */

::-webkit-selection {
color : rgb(255,255,255);
background-color : rgb(27,34,38); 
text-shadow : none; }

::-moz-selection {
color : rgb(255,255,255);
background-color : rgb(27,34,38); 
text-shadow : none; }

::selection {
color : rgb(255,255,255);
background-color : rgb(27,34,38); 
text-shadow : none; }

/* MODERNIZR ------------------------------------------------------------------- */

.borderimage .item {
-moz-border-image : url(../img/worn.png) 10 10 10 10 round round;
-o-border-image : url(../img/worn.png) 10 10 10 10 round round;
-webkit-border-image : url(../img/worn.png) 10 10 10 10 round round;
border-image : url(../img/worn.png) 10 10 10 10 round round; 
border-width : 10px; }

/* borderradius */

.borderradius a.action {
-webkit-border-radius : 1em;
-moz-border-radius : 1em;
border-radius : 1em; }

/* csstransitions */

.csstransitions a { 
-webkit-transition : color .2s linear;
-moz-transition : color .2s linear;
-o-transition : color .2s linear;
transition : color .2s linear; }
/* No alternative required */

.csstransitions .item div {
-moz-transition-property : opacity;
-moz-transition-duration : 1s;
-moz-transition-timing-function : ease-in-out;
-o-transition-property : opacity;
-o-transition-duration : 1s;
-o-timing-function : ease-in-out; 
-webkit-transition-property : opacity;
-webkit-transition-duration : 1s;
-webkit-timing-function : ease-in-out; 
transition-property : opacity;
transition-duration : 1s;
transition-timing-function : ease-in-out; }

/* fontface */

.fontface body {
font-family : AllerRegular; }

.fontface h1, 
.fontface h2 {
font-family : AllerBold; }

.fontface .item h3 {
font-family : AdlerRegular; }

/* rgba */

.rgba body { 
color : rgba(255,255,255,.8); 
text-shadow : 0 1px 1px rgba(0,0,0,.8); }

.rgba .item h3 a {
color : rgba(255,255,255,.9); }

.rgba .item:hover div {
-moz-box-shadow : 0 2px 5px rgba(0,0,0,.9), 0 20px 30px rgba(0,0,0,.6);
-webkit-box-shadow : 0 2px 5px rgba(0,0,0,.9), 0 20px 30px rgba(0,0,0,.6);
box-shadow : 0 2px 5px rgba(0,0,0,.9), 0 20px 30px rgba(0,0,0,.6); }

